body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-color{
    background-color: #003f8d;
}

#game-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

#game-board {
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 80px);
    grid-template-rows: repeat(6, 80px);
    gap: 5px;
    background-color: #0077be;
    border: 10px solid #005a8d;
    padding: 5px;
    border-radius: 10px;
    margin-top: 20px;
}

#eval-bar {
    width: 40px;
    height: 535px; /* 6*80px cells + 5*5px gaps + 2*5px padding + 2*10px border */
    background-color: #323232;
    border: 3px solid #333;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#eval-bar-player1 {
    width: 100%;
    background-color: rgb(255, 255, 255); /* Player 1 (bot) */
    height: 50%; /* Initial state */
    transition: height 0.5s ease-in-out;
}

#eval-bar-player2 {
    width: 100%;
    background-color: rgb(0, 0, 0); /* Player 2 (human) */
    height: 50%; /* Initial state */
    transition: height 0.5s ease-in-out;
}


.cell {
    width: 80px;
    height: 80px;
    /* background-color: #dee2e6; */
    border-radius: 50%;
    cursor: pointer;
}

.token {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in;


}

.cell.player1, .token.player1 {
    background-color: rgb(255, 255, 255);
    border: 5px solid #d8dadb;
    box-sizing: border-box;
}

.cell.player2, .token.player2 {
    background-color: rgb(0, 0, 0);
    border: 5px solid rgb(37, 37, 37);
    box-sizing: border-box;
}

#game-controls {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

#game-controls button {
    margin-left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#status {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}