<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect 4</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="background-color">
    <h1>Connect 4</h1>
    <div id="game-controls">
        <button id="new-game">New Game</button>
        <button id="toggle-starter">Bot Starts</button>
        <button id="back-move">←</button>
        <button id="forward-move">→</button>
    </div>
    <div id="game-and-history-container">
        <div id="game-container">
            <div id="eval-bar">
                <div id="eval-bar-player1"></div>
                <div id="eval-bar-player2"></div>
            </div>
            <div id="game-board"></div>
        </div>
        <div id="move-history-container">
            <h2>Move History</h2>
            <ul id="move-list"></ul>
        </div>
    </div>
    <div id="status"></div>
    

    <script src="static/script.js"></script>
</body>
</html>